<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>

    <div class="wrap">
        <div class="user-details">
            <h2>User {{user.id}} - {{user.firstName}} {{user.lastName}}</h2>
            <p>Email: {{user.email}}</p>
            <p>Age: {{user.age}}</p>
            <p>City: {{user.city}}</p>
            <form action=`/users/{{user.id}}` method="post">
                <input type="submit" value="Delete">
            </form>
        </div>
    </div>

</body>
</html>